@charset "utf-8";
/*  @功能: 重设浏览器默认样式 */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; user-select: none; }
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4\, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video { display: inline-block; *display: inline;*zoom: 1;}
/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea { font: 12px/1.5 "微软雅黑"; }
input, select, textarea { font-size: 100%; }
/* 去掉各Table  cell 的边距并让其边重合 */
table { border-collapse: collapse; border-spacing: 0; }
/* IE bug fixed: th 不继承 text-align*/
th { text-align: inherit; }
/* 去除默认边框 */
fieldset, img { border: 0; }
/* ie6 7 8(q) bug 显示为行内表现 */
iframe { display: block; }
/* 去掉 firefox 下此元素的边框 */
abbr, acronym { border: 0; font-variant: normal; }
/* 一致的 del 样式 */
del { text-decoration: line-through; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500; }
/* 去掉列表前的标识, li 会继承 */
ol, ul { list-style: none; }
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th { text-align: left; }
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }
q:before, q:after { content: ''; }
/* 统一上标和下标 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* 默认不显示下划线，保持页面简洁 */
ins, a { text-decoration: none; }
/* 清理浮动 */
.fn-clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.fn-clear { zoom: 1; /* for IE6 IE7 */ }
.fn-inline { display: inline-block; vertical-align: middle;font-style: normal;}
.fl {float: left;}
.fr {float: right;}
.btn{
    cursor: pointer;
    outline: none;
}
button{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}
@font-face {
    font-family: 'reducto_condensed_ssiCn';
    src: url('font/reducto_condensed_ssi_condensed-webfont.eot');
    src: url('font/reducto_condensed_ssi_condensed-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('font/reducto_condensed_ssi_condensed-webfont.woff2')
    format('woff2'),
    url('font/reducto_condensed_ssi_condensed-webfont.woff')
    format('woff'),
    url('font/reducto_condensed_ssi_condensed-webfont.ttf')
    format('truetype'),
    url('font/reducto_condensed_ssi_condensed-webfont.svg#reducto_condensed_ssiCn')
    format('svg');
    font-weight: normal;
    font-style: normal
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24 {
    float: left;
    box-sizing: border-box
}
.row{
    overflow: hidden;
}

.col-0 {
    width: 0
}

.col-offset-0 {
    margin-left: 0
}

.col-pull-0 {
    position: relative;
    right: 0
}

.col-push-0 {
    position: relative;
    left: 0
}

.col-1 {
    width: 4.16667%
}

.col-offset-1 {
    margin-left: 4.16667%
}

.col-pull-1 {
    position: relative;
    right: 4.16667%
}

.col-push-1 {
    position: relative;
    left: 4.16667%
}

.col-2 {
    width: 8.33333%
}

.col-offset-2 {
    margin-left: 8.33333%
}

.col-pull-2 {
    position: relative;
    right: 8.33333%
}

.col-push-2 {
    position: relative;
    left: 8.33333%
}

.col-3 {
    width: 12.5%
}

.col-offset-3 {
    margin-left: 12.5%
}

.col-pull-3 {
    position: relative;
    right: 12.5%
}

.col-push-3 {
    position: relative;
    left: 12.5%
}

.col-4 {
    width: 16.66667%
}

.col-offset-4 {
    margin-left: 16.66667%
}

.col-pull-4 {
    position: relative;
    right: 16.66667%
}

.col-push-4 {
    position: relative;
    left: 16.66667%
}

.col-5 {
    width: 20.83333%
}

.col-offset-5 {
    margin-left: 20.83333%
}

.col-pull-5 {
    position: relative;
    right: 20.83333%
}

.col-push-5 {
    position: relative;
    left: 20.83333%
}

.col-6 {
    width: 25%
}

.col-offset-6 {
    margin-left: 25%
}

.col-pull-6 {
    position: relative;
    right: 25%
}

.col-push-6 {
    position: relative;
    left: 25%
}

.col-7 {
    width: 29.16667%
}

.col-offset-7 {
    margin-left: 29.16667%
}

.col-pull-7 {
    position: relative;
    right: 29.16667%
}

.col-push-7 {
    position: relative;
    left: 29.16667%
}

.col-8 {
    width: 33.33333%
}

.col-offset-8 {
    margin-left: 33.33333%
}

.col-pull-8 {
    position: relative;
    right: 33.33333%
}

.col-push-8 {
    position: relative;
    left: 33.33333%
}

.col-9 {
    width: 37.5%
}

.col-offset-9 {
    margin-left: 37.5%
}

.col-pull-9 {
    position: relative;
    right: 37.5%
}

.col-push-9 {
    position: relative;
    left: 37.5%
}

.col-10 {
    width: 41.66667%
}

.col-offset-10 {
    margin-left: 41.66667%
}

.col-pull-10 {
    position: relative;
    right: 41.66667%
}

.col-push-10 {
    position: relative;
    left: 41.66667%
}

.col-11 {
    width: 45.83333%
}

.col-offset-11 {
    margin-left: 45.83333%
}

.col-pull-11 {
    position: relative;
    right: 45.83333%
}

.col-push-11 {
    position: relative;
    left: 45.83333%
}

.col-12 {
    width: 50%
}

.col-offset-12 {
    margin-left: 50%
}

.col-pull-12 {
    position: relative;
    right: 50%
}

.col-push-12 {
    position: relative;
    left: 50%
}

.col-13 {
    width: 54.16667%
}

.col-offset-13 {
    margin-left: 54.16667%
}

.col-pull-13 {
    position: relative;
    right: 54.16667%
}

.col-push-13 {
    position: relative;
    left: 54.16667%
}

.col-14 {
    width: 58.33333%
}

.col-offset-14 {
    margin-left: 58.33333%
}

.col-pull-14 {
    position: relative;
    right: 58.33333%
}

.col-push-14 {
    position: relative;
    left: 58.33333%
}

.col-15 {
    width: 62.5%
}

.col-offset-15 {
    margin-left: 62.5%
}

.col-pull-15 {
    position: relative;
    right: 62.5%
}

.col-push-15 {
    position: relative;
    left: 62.5%
}

.col-16 {
    width: 66.66667%
}

.col-offset-16 {
    margin-left: 66.66667%
}

.col-pull-16 {
    position: relative;
    right: 66.66667%
}

.col-push-16 {
    position: relative;
    left: 66.66667%
}

.col-17 {
    width: 70.83333%
}

.col-offset-17 {
    margin-left: 70.83333%
}

.col-pull-17 {
    position: relative;
    right: 70.83333%
}

.col-push-17 {
    position: relative;
    left: 70.83333%
}

.col-18 {
    width: 75%
}

.col-offset-18 {
    margin-left: 75%
}

.col-pull-18 {
    position: relative;
    right: 75%
}

.col-push-18 {
    position: relative;
    left: 75%
}

.col-19 {
    width: 79.16667%
}

.col-offset-19 {
    margin-left: 79.16667%
}

.col-pull-19 {
    position: relative;
    right: 79.16667%
}

.col-push-19 {
    position: relative;
    left: 79.16667%
}

.col-20 {
    width: 83.33333%
}

.col-offset-20 {
    margin-left: 83.33333%
}

.col-pull-20 {
    position: relative;
    right: 83.33333%
}

.col-push-20 {
    position: relative;
    left: 83.33333%
}

.col-21 {
    width: 87.5%
}

.col-offset-21 {
    margin-left: 87.5%
}

.col-pull-21 {
    position: relative;
    right: 87.5%
}

.col-push-21 {
    position: relative;
    left: 87.5%
}

.col-22 {
    width: 91.66667%
}

.col-offset-22 {
    margin-left: 91.66667%
}

.col-pull-22 {
    position: relative;
    right: 91.66667%
}

.col-push-22 {
    position: relative;
    left: 91.66667%
}

.col-23 {
    width: 95.83333%
}

.col-offset-23 {
    margin-left: 95.83333%
}

.col-pull-23 {
    position: relative;
    right: 95.83333%
}

.col-push-23 {
    position: relative;
    left: 95.83333%
}

.col-24 {
    width: 100%
}

.col-offset-24 {
    margin-left: 100%
}

.col-pull-24 {
    position: relative;
    right: 100%
}

.col-push-24 {
    position: relative;
    left: 100%
}

@media (max-width: 768px) {
    .col-xs-0 {
        width:0
    }

    .col-xs-offset-0 {
        margin-left: 0
    }

    .col-xs-pull-0 {
        position: relative;
        right: 0
    }

    .col-xs-push-0 {
        position: relative;
        left: 0
    }

    .col-xs-1 {
        width: 4.16667%
    }

    .col-xs-offset-1 {
        margin-left: 4.16667%
    }

    .col-xs-pull-1 {
        position: relative;
        right: 4.16667%
    }

    .col-xs-push-1 {
        position: relative;
        left: 4.16667%
    }

    .col-xs-2 {
        width: 8.33333%
    }

    .col-xs-offset-2 {
        margin-left: 8.33333%
    }

    .col-xs-pull-2 {
        position: relative;
        right: 8.33333%
    }

    .col-xs-push-2 {
        position: relative;
        left: 8.33333%
    }

    .col-xs-3 {
        width: 12.5%
    }

    .col-xs-offset-3 {
        margin-left: 12.5%
    }

    .col-xs-pull-3 {
        position: relative;
        right: 12.5%
    }

    .col-xs-push-3 {
        position: relative;
        left: 12.5%
    }

    .col-xs-4 {
        width: 16.66667%
    }

    .col-xs-offset-4 {
        margin-left: 16.66667%
    }

    .col-xs-pull-4 {
        position: relative;
        right: 16.66667%
    }

    .col-xs-push-4 {
        position: relative;
        left: 16.66667%
    }

    .col-xs-5 {
        width: 20.83333%
    }

    .col-xs-offset-5 {
        margin-left: 20.83333%
    }

    .col-xs-pull-5 {
        position: relative;
        right: 20.83333%
    }

    .col-xs-push-5 {
        position: relative;
        left: 20.83333%
    }

    .col-xs-6 {
        width: 25%
    }

    .col-xs-offset-6 {
        margin-left: 25%
    }

    .col-xs-pull-6 {
        position: relative;
        right: 25%
    }

    .col-xs-push-6 {
        position: relative;
        left: 25%
    }

    .col-xs-7 {
        width: 29.16667%
    }

    .col-xs-offset-7 {
        margin-left: 29.16667%
    }

    .col-xs-pull-7 {
        position: relative;
        right: 29.16667%
    }

    .col-xs-push-7 {
        position: relative;
        left: 29.16667%
    }

    .col-xs-8 {
        width: 33.33333%
    }

    .col-xs-offset-8 {
        margin-left: 33.33333%
    }

    .col-xs-pull-8 {
        position: relative;
        right: 33.33333%
    }

    .col-xs-push-8 {
        position: relative;
        left: 33.33333%
    }

    .col-xs-9 {
        width: 37.5%
    }

    .col-xs-offset-9 {
        margin-left: 37.5%
    }

    .col-xs-pull-9 {
        position: relative;
        right: 37.5%
    }

    .col-xs-push-9 {
        position: relative;
        left: 37.5%
    }

    .col-xs-10 {
        width: 41.66667%
    }

    .col-xs-offset-10 {
        margin-left: 41.66667%
    }

    .col-xs-pull-10 {
        position: relative;
        right: 41.66667%
    }

    .col-xs-push-10 {
        position: relative;
        left: 41.66667%
    }

    .col-xs-11 {
        width: 45.83333%
    }

    .col-xs-offset-11 {
        margin-left: 45.83333%
    }

    .col-xs-pull-11 {
        position: relative;
        right: 45.83333%
    }

    .col-xs-push-11 {
        position: relative;
        left: 45.83333%
    }

    .col-xs-12 {
        width: 50%
    }

    .col-xs-offset-12 {
        margin-left: 50%
    }

    .col-xs-pull-12 {
        position: relative;
        right: 50%
    }

    .col-xs-push-12 {
        position: relative;
        left: 50%
    }

    .col-xs-13 {
        width: 54.16667%
    }

    .col-xs-offset-13 {
        margin-left: 54.16667%
    }

    .col-xs-pull-13 {
        position: relative;
        right: 54.16667%
    }

    .col-xs-push-13 {
        position: relative;
        left: 54.16667%
    }

    .col-xs-14 {
        width: 58.33333%
    }

    .col-xs-offset-14 {
        margin-left: 58.33333%
    }

    .col-xs-pull-14 {
        position: relative;
        right: 58.33333%
    }

    .col-xs-push-14 {
        position: relative;
        left: 58.33333%
    }

    .col-xs-15 {
        width: 62.5%
    }

    .col-xs-offset-15 {
        margin-left: 62.5%
    }

    .col-xs-pull-15 {
        position: relative;
        right: 62.5%
    }

    .col-xs-push-15 {
        position: relative;
        left: 62.5%
    }

    .col-xs-16 {
        width: 66.66667%
    }

    .col-xs-offset-16 {
        margin-left: 66.66667%
    }

    .col-xs-pull-16 {
        position: relative;
        right: 66.66667%
    }

    .col-xs-push-16 {
        position: relative;
        left: 66.66667%
    }

    .col-xs-17 {
        width: 70.83333%
    }

    .col-xs-offset-17 {
        margin-left: 70.83333%
    }

    .col-xs-pull-17 {
        position: relative;
        right: 70.83333%
    }

    .col-xs-push-17 {
        position: relative;
        left: 70.83333%
    }

    .col-xs-18 {
        width: 75%
    }

    .col-xs-offset-18 {
        margin-left: 75%
    }

    .col-xs-pull-18 {
        position: relative;
        right: 75%
    }

    .col-xs-push-18 {
        position: relative;
        left: 75%
    }

    .col-xs-19 {
        width: 79.16667%
    }

    .col-xs-offset-19 {
        margin-left: 79.16667%
    }

    .col-xs-pull-19 {
        position: relative;
        right: 79.16667%
    }

    .col-xs-push-19 {
        position: relative;
        left: 79.16667%
    }

    .col-xs-20 {
        width: 83.33333%
    }

    .col-xs-offset-20 {
        margin-left: 83.33333%
    }

    .col-xs-pull-20 {
        position: relative;
        right: 83.33333%
    }

    .col-xs-push-20 {
        position: relative;
        left: 83.33333%
    }

    .col-xs-21 {
        width: 87.5%
    }

    .col-xs-offset-21 {
        margin-left: 87.5%
    }

    .col-xs-pull-21 {
        position: relative;
        right: 87.5%
    }

    .col-xs-push-21 {
        position: relative;
        left: 87.5%
    }

    .col-xs-22 {
        width: 91.66667%
    }

    .col-xs-offset-22 {
        margin-left: 91.66667%
    }

    .col-xs-pull-22 {
        position: relative;
        right: 91.66667%
    }

    .col-xs-push-22 {
        position: relative;
        left: 91.66667%
    }

    .col-xs-23 {
        width: 95.83333%
    }

    .col-xs-offset-23 {
        margin-left: 95.83333%
    }

    .col-xs-pull-23 {
        position: relative;
        right: 95.83333%
    }

    .col-xs-push-23 {
        position: relative;
        left: 95.83333%
    }

    .col-xs-24 {
        width: 100%
    }

    .col-xs-offset-24 {
        margin-left: 100%
    }

    .col-xs-pull-24 {
        position: relative;
        right: 100%
    }

    .col-xs-push-24 {
        position: relative;
        left: 100%
    }
}

@media (min-width: 768px) {
    .col-sm-0 {
        width:0
    }

    .col-sm-offset-0 {
        margin-left: 0
    }

    .col-sm-pull-0 {
        position: relative;
        right: 0
    }

    .col-sm-push-0 {
        position: relative;
        left: 0
    }

    .col-sm-1 {
        width: 4.16667%
    }

    .col-sm-offset-1 {
        margin-left: 4.16667%
    }

    .col-sm-pull-1 {
        position: relative;
        right: 4.16667%
    }

    .col-sm-push-1 {
        position: relative;
        left: 4.16667%
    }

    .col-sm-2 {
        width: 8.33333%
    }

    .col-sm-offset-2 {
        margin-left: 8.33333%
    }

    .col-sm-pull-2 {
        position: relative;
        right: 8.33333%
    }

    .col-sm-push-2 {
        position: relative;
        left: 8.33333%
    }

    .col-sm-3 {
        width: 12.5%
    }

    .col-sm-offset-3 {
        margin-left: 12.5%
    }

    .col-sm-pull-3 {
        position: relative;
        right: 12.5%
    }

    .col-sm-push-3 {
        position: relative;
        left: 12.5%
    }

    .col-sm-4 {
        width: 16.66667%
    }

    .col-sm-offset-4 {
        margin-left: 16.66667%
    }

    .col-sm-pull-4 {
        position: relative;
        right: 16.66667%
    }

    .col-sm-push-4 {
        position: relative;
        left: 16.66667%
    }

    .col-sm-5 {
        width: 20.83333%
    }

    .col-sm-offset-5 {
        margin-left: 20.83333%
    }

    .col-sm-pull-5 {
        position: relative;
        right: 20.83333%
    }

    .col-sm-push-5 {
        position: relative;
        left: 20.83333%
    }

    .col-sm-6 {
        width: 25%
    }

    .col-sm-offset-6 {
        margin-left: 25%
    }

    .col-sm-pull-6 {
        position: relative;
        right: 25%
    }

    .col-sm-push-6 {
        position: relative;
        left: 25%
    }

    .col-sm-7 {
        width: 29.16667%
    }

    .col-sm-offset-7 {
        margin-left: 29.16667%
    }

    .col-sm-pull-7 {
        position: relative;
        right: 29.16667%
    }

    .col-sm-push-7 {
        position: relative;
        left: 29.16667%
    }

    .col-sm-8 {
        width: 33.33333%
    }

    .col-sm-offset-8 {
        margin-left: 33.33333%
    }

    .col-sm-pull-8 {
        position: relative;
        right: 33.33333%
    }

    .col-sm-push-8 {
        position: relative;
        left: 33.33333%
    }

    .col-sm-9 {
        width: 37.5%
    }

    .col-sm-offset-9 {
        margin-left: 37.5%
    }

    .col-sm-pull-9 {
        position: relative;
        right: 37.5%
    }

    .col-sm-push-9 {
        position: relative;
        left: 37.5%
    }

    .col-sm-10 {
        width: 41.66667%
    }

    .col-sm-offset-10 {
        margin-left: 41.66667%
    }

    .col-sm-pull-10 {
        position: relative;
        right: 41.66667%
    }

    .col-sm-push-10 {
        position: relative;
        left: 41.66667%
    }

    .col-sm-11 {
        width: 45.83333%
    }

    .col-sm-offset-11 {
        margin-left: 45.83333%
    }

    .col-sm-pull-11 {
        position: relative;
        right: 45.83333%
    }

    .col-sm-push-11 {
        position: relative;
        left: 45.83333%
    }

    .col-sm-12 {
        width: 50%
    }

    .col-sm-offset-12 {
        margin-left: 50%
    }

    .col-sm-pull-12 {
        position: relative;
        right: 50%
    }

    .col-sm-push-12 {
        position: relative;
        left: 50%
    }

    .col-sm-13 {
        width: 54.16667%
    }

    .col-sm-offset-13 {
        margin-left: 54.16667%
    }

    .col-sm-pull-13 {
        position: relative;
        right: 54.16667%
    }

    .col-sm-push-13 {
        position: relative;
        left: 54.16667%
    }

    .col-sm-14 {
        width: 58.33333%
    }

    .col-sm-offset-14 {
        margin-left: 58.33333%
    }

    .col-sm-pull-14 {
        position: relative;
        right: 58.33333%
    }

    .col-sm-push-14 {
        position: relative;
        left: 58.33333%
    }

    .col-sm-15 {
        width: 62.5%
    }

    .col-sm-offset-15 {
        margin-left: 62.5%
    }

    .col-sm-pull-15 {
        position: relative;
        right: 62.5%
    }

    .col-sm-push-15 {
        position: relative;
        left: 62.5%
    }

    .col-sm-16 {
        width: 66.66667%
    }

    .col-sm-offset-16 {
        margin-left: 66.66667%
    }

    .col-sm-pull-16 {
        position: relative;
        right: 66.66667%
    }

    .col-sm-push-16 {
        position: relative;
        left: 66.66667%
    }

    .col-sm-17 {
        width: 70.83333%
    }

    .col-sm-offset-17 {
        margin-left: 70.83333%
    }

    .col-sm-pull-17 {
        position: relative;
        right: 70.83333%
    }

    .col-sm-push-17 {
        position: relative;
        left: 70.83333%
    }

    .col-sm-18 {
        width: 75%
    }

    .col-sm-offset-18 {
        margin-left: 75%
    }

    .col-sm-pull-18 {
        position: relative;
        right: 75%
    }

    .col-sm-push-18 {
        position: relative;
        left: 75%
    }

    .col-sm-19 {
        width: 79.16667%
    }

    .col-sm-offset-19 {
        margin-left: 79.16667%
    }

    .col-sm-pull-19 {
        position: relative;
        right: 79.16667%
    }

    .col-sm-push-19 {
        position: relative;
        left: 79.16667%
    }

    .col-sm-20 {
        width: 83.33333%
    }

    .col-sm-offset-20 {
        margin-left: 83.33333%
    }

    .col-sm-pull-20 {
        position: relative;
        right: 83.33333%
    }

    .col-sm-push-20 {
        position: relative;
        left: 83.33333%
    }

    .col-sm-21 {
        width: 87.5%
    }

    .col-sm-offset-21 {
        margin-left: 87.5%
    }

    .col-sm-pull-21 {
        position: relative;
        right: 87.5%
    }

    .col-sm-push-21 {
        position: relative;
        left: 87.5%
    }

    .col-sm-22 {
        width: 91.66667%
    }

    .col-sm-offset-22 {
        margin-left: 91.66667%
    }

    .col-sm-pull-22 {
        position: relative;
        right: 91.66667%
    }

    .col-sm-push-22 {
        position: relative;
        left: 91.66667%
    }

    .col-sm-23 {
        width: 95.83333%
    }

    .col-sm-offset-23 {
        margin-left: 95.83333%
    }

    .col-sm-pull-23 {
        position: relative;
        right: 95.83333%
    }

    .col-sm-push-23 {
        position: relative;
        left: 95.83333%
    }

    .col-sm-24 {
        width: 100%
    }

    .col-sm-offset-24 {
        margin-left: 100%
    }

    .col-sm-pull-24 {
        position: relative;
        right: 100%
    }

    .col-sm-push-24 {
        position: relative;
        left: 100%
    }
}

@media (min-width: 992px) {
    .col-md-0 {
        width:0
    }

    .col-md-offset-0 {
        margin-left: 0
    }

    .col-md-pull-0 {
        position: relative;
        right: 0
    }

    .col-md-push-0 {
        position: relative;
        left: 0
    }

    .col-md-1 {
        width: 4.16667%
    }

    .col-md-offset-1 {
        margin-left: 4.16667%
    }

    .col-md-pull-1 {
        position: relative;
        right: 4.16667%
    }

    .col-md-push-1 {
        position: relative;
        left: 4.16667%
    }

    .col-md-2 {
        width: 8.33333%
    }

    .col-md-offset-2 {
        margin-left: 8.33333%
    }

    .col-md-pull-2 {
        position: relative;
        right: 8.33333%
    }

    .col-md-push-2 {
        position: relative;
        left: 8.33333%
    }

    .col-md-3 {
        width: 12.5%
    }

    .col-md-offset-3 {
        margin-left: 12.5%
    }

    .col-md-pull-3 {
        position: relative;
        right: 12.5%
    }

    .col-md-push-3 {
        position: relative;
        left: 12.5%
    }

    .col-md-4 {
        width: 16.66667%
    }

    .col-md-offset-4 {
        margin-left: 16.66667%
    }

    .col-md-pull-4 {
        position: relative;
        right: 16.66667%
    }

    .col-md-push-4 {
        position: relative;
        left: 16.66667%
    }

    .col-md-5 {
        width: 20.83333%
    }

    .col-md-offset-5 {
        margin-left: 20.83333%
    }

    .col-md-pull-5 {
        position: relative;
        right: 20.83333%
    }

    .col-md-push-5 {
        position: relative;
        left: 20.83333%
    }

    .col-md-6 {
        width: 25%
    }

    .col-md-offset-6 {
        margin-left: 25%
    }

    .col-md-pull-6 {
        position: relative;
        right: 25%
    }

    .col-md-push-6 {
        position: relative;
        left: 25%
    }

    .col-md-7 {
        width: 29.16667%
    }

    .col-md-offset-7 {
        margin-left: 29.16667%
    }

    .col-md-pull-7 {
        position: relative;
        right: 29.16667%
    }

    .col-md-push-7 {
        position: relative;
        left: 29.16667%
    }

    .col-md-8 {
        width: 33.33333%
    }

    .col-md-offset-8 {
        margin-left: 33.33333%
    }

    .col-md-pull-8 {
        position: relative;
        right: 33.33333%
    }

    .col-md-push-8 {
        position: relative;
        left: 33.33333%
    }

    .col-md-9 {
        width: 37.5%
    }

    .col-md-offset-9 {
        margin-left: 37.5%
    }

    .col-md-pull-9 {
        position: relative;
        right: 37.5%
    }

    .col-md-push-9 {
        position: relative;
        left: 37.5%
    }

    .col-md-10 {
        width: 41.66667%
    }

    .col-md-offset-10 {
        margin-left: 41.66667%
    }

    .col-md-pull-10 {
        position: relative;
        right: 41.66667%
    }

    .col-md-push-10 {
        position: relative;
        left: 41.66667%
    }

    .col-md-11 {
        width: 45.83333%
    }

    .col-md-offset-11 {
        margin-left: 45.83333%
    }

    .col-md-pull-11 {
        position: relative;
        right: 45.83333%
    }

    .col-md-push-11 {
        position: relative;
        left: 45.83333%
    }

    .col-md-12 {
        width: 50%
    }

    .col-md-offset-12 {
        margin-left: 50%
    }

    .col-md-pull-12 {
        position: relative;
        right: 50%
    }

    .col-md-push-12 {
        position: relative;
        left: 50%
    }

    .col-md-13 {
        width: 54.16667%
    }

    .col-md-offset-13 {
        margin-left: 54.16667%
    }

    .col-md-pull-13 {
        position: relative;
        right: 54.16667%
    }

    .col-md-push-13 {
        position: relative;
        left: 54.16667%
    }

    .col-md-14 {
        width: 58.33333%
    }

    .col-md-offset-14 {
        margin-left: 58.33333%
    }

    .col-md-pull-14 {
        position: relative;
        right: 58.33333%
    }

    .col-md-push-14 {
        position: relative;
        left: 58.33333%
    }

    .col-md-15 {
        width: 62.5%
    }

    .col-md-offset-15 {
        margin-left: 62.5%
    }

    .col-md-pull-15 {
        position: relative;
        right: 62.5%
    }

    .col-md-push-15 {
        position: relative;
        left: 62.5%
    }

    .col-md-16 {
        width: 66.66667%
    }

    .col-md-offset-16 {
        margin-left: 66.66667%
    }

    .col-md-pull-16 {
        position: relative;
        right: 66.66667%
    }

    .col-md-push-16 {
        position: relative;
        left: 66.66667%
    }

    .col-md-17 {
        width: 70.83333%
    }

    .col-md-offset-17 {
        margin-left: 70.83333%
    }

    .col-md-pull-17 {
        position: relative;
        right: 70.83333%
    }

    .col-md-push-17 {
        position: relative;
        left: 70.83333%
    }

    .col-md-18 {
        width: 75%
    }

    .col-md-offset-18 {
        margin-left: 75%
    }

    .col-md-pull-18 {
        position: relative;
        right: 75%
    }

    .col-md-push-18 {
        position: relative;
        left: 75%
    }

    .col-md-19 {
        width: 79.16667%
    }

    .col-md-offset-19 {
        margin-left: 79.16667%
    }

    .col-md-pull-19 {
        position: relative;
        right: 79.16667%
    }

    .col-md-push-19 {
        position: relative;
        left: 79.16667%
    }

    .col-md-20 {
        width: 83.33333%
    }

    .col-md-offset-20 {
        margin-left: 83.33333%
    }

    .col-md-pull-20 {
        position: relative;
        right: 83.33333%
    }

    .col-md-push-20 {
        position: relative;
        left: 83.33333%
    }

    .col-md-21 {
        width: 87.5%
    }

    .col-md-offset-21 {
        margin-left: 87.5%
    }

    .col-md-pull-21 {
        position: relative;
        right: 87.5%
    }

    .col-md-push-21 {
        position: relative;
        left: 87.5%
    }

    .col-md-22 {
        width: 91.66667%
    }

    .col-md-offset-22 {
        margin-left: 91.66667%
    }

    .col-md-pull-22 {
        position: relative;
        right: 91.66667%
    }

    .col-md-push-22 {
        position: relative;
        left: 91.66667%
    }

    .col-md-23 {
        width: 95.83333%
    }

    .col-md-offset-23 {
        margin-left: 95.83333%
    }

    .col-md-pull-23 {
        position: relative;
        right: 95.83333%
    }

    .col-md-push-23 {
        position: relative;
        left: 95.83333%
    }

    .col-md-24 {
        width: 100%
    }

    .col-md-offset-24 {
        margin-left: 100%
    }

    .col-md-pull-24 {
        position: relative;
        right: 100%
    }

    .col-md-push-24 {
        position: relative;
        left: 100%
    }
}

@media (min-width: 1200px) {
    .col-lg-0 {
        width:0
    }

    .col-lg-offset-0 {
        margin-left: 0
    }

    .col-lg-pull-0 {
        position: relative;
        right: 0
    }

    .col-lg-push-0 {
        position: relative;
        left: 0
    }

    .col-lg-1 {
        width: 4.16667%
    }

    .col-lg-offset-1 {
        margin-left: 4.16667%
    }

    .col-lg-pull-1 {
        position: relative;
        right: 4.16667%
    }

    .col-lg-push-1 {
        position: relative;
        left: 4.16667%
    }

    .col-lg-2 {
        width: 8.33333%
    }

    .col-lg-offset-2 {
        margin-left: 8.33333%
    }

    .col-lg-pull-2 {
        position: relative;
        right: 8.33333%
    }

    .col-lg-push-2 {
        position: relative;
        left: 8.33333%
    }

    .col-lg-3 {
        width: 12.5%
    }

    .col-lg-offset-3 {
        margin-left: 12.5%
    }

    .col-lg-pull-3 {
        position: relative;
        right: 12.5%
    }

    .col-lg-push-3 {
        position: relative;
        left: 12.5%
    }

    .col-lg-4 {
        width: 16.66667%
    }

    .col-lg-offset-4 {
        margin-left: 16.66667%
    }

    .col-lg-pull-4 {
        position: relative;
        right: 16.66667%
    }

    .col-lg-push-4 {
        position: relative;
        left: 16.66667%
    }

    .col-lg-5 {
        width: 20.83333%
    }

    .col-lg-offset-5 {
        margin-left: 20.83333%
    }

    .col-lg-pull-5 {
        position: relative;
        right: 20.83333%
    }

    .col-lg-push-5 {
        position: relative;
        left: 20.83333%
    }

    .col-lg-6 {
        width: 25%
    }

    .col-lg-offset-6 {
        margin-left: 25%
    }

    .col-lg-pull-6 {
        position: relative;
        right: 25%
    }

    .col-lg-push-6 {
        position: relative;
        left: 25%
    }

    .col-lg-7 {
        width: 29.16667%
    }

    .col-lg-offset-7 {
        margin-left: 29.16667%
    }

    .col-lg-pull-7 {
        position: relative;
        right: 29.16667%
    }

    .col-lg-push-7 {
        position: relative;
        left: 29.16667%
    }

    .col-lg-8 {
        width: 33.33333%
    }

    .col-lg-offset-8 {
        margin-left: 33.33333%
    }

    .col-lg-pull-8 {
        position: relative;
        right: 33.33333%
    }

    .col-lg-push-8 {
        position: relative;
        left: 33.33333%
    }

    .col-lg-9 {
        width: 37.5%
    }

    .col-lg-offset-9 {
        margin-left: 37.5%
    }

    .col-lg-pull-9 {
        position: relative;
        right: 37.5%
    }

    .col-lg-push-9 {
        position: relative;
        left: 37.5%
    }

    .col-lg-10 {
        width: 41.66667%
    }

    .col-lg-offset-10 {
        margin-left: 41.66667%
    }

    .col-lg-pull-10 {
        position: relative;
        right: 41.66667%
    }

    .col-lg-push-10 {
        position: relative;
        left: 41.66667%
    }

    .col-lg-11 {
        width: 45.83333%
    }

    .col-lg-offset-11 {
        margin-left: 45.83333%
    }

    .col-lg-pull-11 {
        position: relative;
        right: 45.83333%
    }

    .col-lg-push-11 {
        position: relative;
        left: 45.83333%
    }

    .col-lg-12 {
        width: 50%
    }

    .col-lg-offset-12 {
        margin-left: 50%
    }

    .col-lg-pull-12 {
        position: relative;
        right: 50%
    }

    .col-lg-push-12 {
        position: relative;
        left: 50%
    }

    .col-lg-13 {
        width: 54.16667%
    }

    .col-lg-offset-13 {
        margin-left: 54.16667%
    }

    .col-lg-pull-13 {
        position: relative;
        right: 54.16667%
    }

    .col-lg-push-13 {
        position: relative;
        left: 54.16667%
    }

    .col-lg-14 {
        width: 58.33333%
    }

    .col-lg-offset-14 {
        margin-left: 58.33333%
    }

    .col-lg-pull-14 {
        position: relative;
        right: 58.33333%
    }

    .col-lg-push-14 {
        position: relative;
        left: 58.33333%
    }

    .col-lg-15 {
        width: 62.5%
    }

    .col-lg-offset-15 {
        margin-left: 62.5%
    }

    .col-lg-pull-15 {
        position: relative;
        right: 62.5%
    }

    .col-lg-push-15 {
        position: relative;
        left: 62.5%
    }

    .col-lg-16 {
        width: 66.66667%
    }

    .col-lg-offset-16 {
        margin-left: 66.66667%
    }

    .col-lg-pull-16 {
        position: relative;
        right: 66.66667%
    }

    .col-lg-push-16 {
        position: relative;
        left: 66.66667%
    }

    .col-lg-17 {
        width: 70.83333%
    }

    .col-lg-offset-17 {
        margin-left: 70.83333%
    }

    .col-lg-pull-17 {
        position: relative;
        right: 70.83333%
    }

    .col-lg-push-17 {
        position: relative;
        left: 70.83333%
    }

    .col-lg-18 {
        width: 75%
    }

    .col-lg-offset-18 {
        margin-left: 75%
    }

    .col-lg-pull-18 {
        position: relative;
        right: 75%
    }

    .col-lg-push-18 {
        position: relative;
        left: 75%
    }

    .col-lg-19 {
        width: 79.16667%
    }

    .col-lg-offset-19 {
        margin-left: 79.16667%
    }

    .col-lg-pull-19 {
        position: relative;
        right: 79.16667%
    }

    .col-lg-push-19 {
        position: relative;
        left: 79.16667%
    }

    .col-lg-20 {
        width: 83.33333%
    }

    .col-lg-offset-20 {
        margin-left: 83.33333%
    }

    .col-lg-pull-20 {
        position: relative;
        right: 83.33333%
    }

    .col-lg-push-20 {
        position: relative;
        left: 83.33333%
    }

    .col-lg-21 {
        width: 87.5%
    }

    .col-lg-offset-21 {
        margin-left: 87.5%
    }

    .col-lg-pull-21 {
        position: relative;
        right: 87.5%
    }

    .col-lg-push-21 {
        position: relative;
        left: 87.5%
    }

    .col-lg-22 {
        width: 91.66667%
    }

    .col-lg-offset-22 {
        margin-left: 91.66667%
    }

    .col-lg-pull-22 {
        position: relative;
        right: 91.66667%
    }

    .col-lg-push-22 {
        position: relative;
        left: 91.66667%
    }

    .col-lg-23 {
        width: 95.83333%
    }

    .col-lg-offset-23 {
        margin-left: 95.83333%
    }

    .col-lg-pull-23 {
        position: relative;
        right: 95.83333%
    }

    .col-lg-push-23 {
        position: relative;
        left: 95.83333%
    }

    .col-lg-24 {
        width: 100%
    }

    .col-lg-offset-24 {
        margin-left: 100%
    }

    .col-lg-pull-24 {
        position: relative;
        right: 100%
    }

    .col-lg-push-24 {
        position: relative;
        left: 100%
    }
}

